body {
  font-family: "Roboto", sans-seriF;
  margin: 0;
}

p {
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}
header img {
  width: 250px;
  height: auto;
  padding-bottom: 20px;
  margin-bottom: 0;
}

.form-location {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  box-shadow: inset 0px 11px 8px -10px #CCC, inset 0px 15px 8px -10px #CCC;
  margin: 0;
}
.form-location .fa-map-marker-alt {
  width: 20px;
}
.form-location input {
  border: none;
  background-color: #eaeaea;
  color: #5a5a5a;
  font-weight: 600;
}

.explore {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 50px;
}
.explore h1 {
  font-weight: bolder;
  margin-bottom: 0;
  text-align: center;
}
.explore p {
  font-weight: lighter;
  color: #7c7c7c;
  padding-top: 0;
  text-align: center;
}

.functioning-section {
  padding-left: 20px;
  padding-bottom: 20px;
}
.functioning-section .functioning-step {
  display: flex;
  width: 90%;
  margin-bottom: 20px;
  align-items: center;
}
.functioning-section .functioning-step p {
  font-size: smaller;
  display: flex;
  color: white;
  background-color: #9356DC;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
.functioning-section .functioning-step-number {
  position: relative;
  z-index: 2;
}
.functioning-section .functioning-step-description {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  width: 100%;
  padding-left: 20px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1803921569);
  position: relative;
  margin-left: -5px;
}
.functioning-section .functioning-step-description h4 {
  padding-left: 20px;
}
.functioning-section .functioning-step-description:hover {
  background-color: #f5edff;
}
.functioning-section .functioning-step-description:hover .fas {
  color: #9356DC;
}

.restaurants-list-section {
  padding-top: 30px;
  background-color: #f6f6f6;
}
.restaurants-list-section h1 {
  padding-left: 20px;
}
.restaurants-list-section .restaurants-list {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.restaurants-list-section .restaurants-list .restaurant-card {
  position: relative;
  height: 220px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1803921569);
  margin-bottom: 20px;
  margin-right: 20px;
}
.restaurants-list-section .restaurants-list .restaurant-card h4 {
  padding-top: 5px;
  margin: 0;
}
.restaurants-list-section .restaurants-list .restaurant-card p {
  padding-top: 3px;
  margin: 0;
  font-weight: lighter;
}

.restaurant-card-image img {
  height: 150px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 20px 20px;
  border-top-right-radius: 20px 20px;
}

.new-restaurant-tag {
  top: 10px;
  right: 10px;
  color: #0d8f6f;
  background-color: #99e2d0;
  border-radius: 5px;
  width: 80px;
  height: 40px;
  position: absolute;
  z-index: 2;
}
.new-restaurant-tag span {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.restaurant-card-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 20px;
}

.card-restaurant-name-and-city {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 2%;
}

.fa-heart {
  font-size: larger;
}

footer {
  background-color: #353535;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
}
footer img {
  filter: invert(100%);
  width: 100px;
}
footer .footer-menu-item-with-icon {
  display: flex;
  align-items: baseline;
}
footer .fas {
  padding-right: 5px;
  width: 20px;
}
footer a {
  text-decoration: none;
  height: 25px;
}
footer a:visited {
  color: white;
}

.footer-menu {
  margin-top: 10px;
}

.top-header-menu-page {
  display: flex;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;
}

.top-header-menu-page img {
  padding-right: 30%;
}

.back-button {
  display: flex;
}

.fa-arrow-left {
  font-size: x-large;
}

.btn-arrow-left {
  border: none;
  background-color: white;
  padding-left: 20px;
}

.restaurant-image {
  width: 100%;
  height: 250px;
  bottom: -30px;
  align-items: center;
  position: relative;
}

.restaurant-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.restaurant-menu {
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  padding-left: 20px;
  background-color: #f6f6f6;
  position: relative;
}

.restaurant-menu h1 {
  font-family: "Shrikhand", cursive;
}

.restaurant-menu-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-right: 20%;
}

.restaurant-menu h3:after {
  background-color: #99E2D0;
  bottom: -10px;
  height: 3px;
  width: 40px;
  position: relative;
  content: "";
  display: block;
  font-weight: lighter;
}

.food-item-card {
  width: 90%;
  height: 60px;
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: baseline;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1803921569);
}

.food-item-title-description p {
  margin-bottom: 5px;
  margin-top: 5px;
}

.food-item-title-description h4 {
  margin-top: 5px;
  margin-bottom: 2px;
}

.food-item-price {
  display: flex;
}

.food-item-card h5 {
  font-weight: 600;
}

.btn-standard {
  border-radius: 20px;
  height: 50px;
  padding: 10px;
  color: white;
  border-style: none;
  background: linear-gradient(-7deg, #9356DC 4%, #FF79DA 100%);
}

/*# sourceMappingURL=style.css.map */
