body {
  font-family: "Roboto", sans-seriF;
  margin: 0;
}

p {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}
a:visited {
  color: white;
}

.fa-heart {
  font-weight: 100;
  font-size: x-large;
  transition: all 3s linear;
}
.fa-heart:hover {
  font-weight: bold;
  color: red;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}
header img {
  width: 250px;
  height: auto;
  padding-bottom: 20px;
  margin-bottom: 0;
}

.form-location {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  box-shadow: inset 0px 11px 8px -10px #CCC, inset 0px 15px 8px -10px #CCC;
  margin: 0;
}
@media (min-width: 992px) {
  .form-location {
    height: 100px;
  }
}
.form-location .fa-map-marker-alt {
  width: 20px;
}
@media (min-width: 992px) {
  .form-location .fa-map-marker-alt {
    font-size: x-large;
  }
}
.form-location input {
  border: none;
  background-color: #eaeaea;
  color: #5a5a5a;
  font-weight: 600;
  text-align: center;
}
@media (min-width: 992px) {
  .form-location input {
    font-size: large;
  }
}

.explore {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.explore h1 {
  font-weight: bolder;
  text-align: center;
  margin: 0;
}
@media (min-width: 992px) {
  .explore h1 {
    display: flex;
    justify-content: center;
    font-size: 50;
  }
}
.explore p {
  font-weight: lighter;
  color: #7c7c7c;
  padding-top: 0;
  text-align: center;
  padding-bottom: 20px;
}
@media (min-width: 992px) {
  .explore p {
    font-size: 30;
  }
}
.explore .btn-standard {
  padding: 10px;
}
@media (min-width: 992px) {
  .explore .btn-standard {
    width: 400px;
    font-size: larger;
  }
}

.functioning-section {
  padding-top: 30px;
  padding-left: 20px;
  padding-bottom: 20px;
}
@media (min-width: 992px) {
  .functioning-section h1 {
    display: flex;
    justify-content: center;
    font-size: 40;
  }
}
.functioning-section .functioning-step {
  display: flex;
  width: 90%;
  margin-bottom: 20px;
  align-items: center;
}
.functioning-section .functioning-step p {
  font-size: smaller;
  display: flex;
  color: white;
  background-color: #9356DC;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
@media (min-width: 992px) {
  .functioning-section .functioning-step p {
    width: 50px;
    height: 50px;
    font-size: large;
  }
}
.functioning-section .functioning-step-number {
  position: relative;
  z-index: 2;
}
.functioning-section .functioning-step-description {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  width: 100%;
  padding-left: 20px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1803921569);
  position: relative;
  margin-left: -5px;
}
.functioning-section .functioning-step-description h4 {
  font-weight: 500;
  padding-left: 20px;
}
.functioning-section .functioning-step-description:hover {
  background-color: #f5edff;
}
.functioning-section .functioning-step-description:hover .fas {
  color: #9356DC;
}
@media (min-width: 768px) {
  .functioning-section .functioning-step-list {
    display: flex;
    justify-content: space-between;
  }
  .functioning-section .functioning-step-list .functioning-step {
    flex-direction: column;
    width: 25%;
    margin: 20px;
    padding: 5px;
  }
  .functioning-section .functioning-step-list .functioning-step .functioning-step-number {
    width: 80px;
  }
}

.restaurants-list-section {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f6f6f6;
}
@media (min-width: 992px) {
  .restaurants-list-section {
    padding-bottom: 100px;
  }
}
.restaurants-list-section h1 {
  padding-left: 20px;
}
@media (min-width: 992px) {
  .restaurants-list-section h1 {
    display: flex;
    justify-content: center;
    font-size: 40;
  }
}
.restaurants-list-section .restaurants-list {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 768px) {
  .restaurants-list-section .restaurants-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.restaurants-list-section .restaurants-list .restaurant-card {
  position: relative;
  height: 220px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1803921569);
  margin-bottom: 20px;
  margin-right: 20px;
}
@media (min-width: 768px) {
  .restaurants-list-section .restaurants-list .restaurant-card {
    width: 45%;
  }
}
@media (min-width: 992px) {
  .restaurants-list-section .restaurants-list .restaurant-card {
    width: 22%;
  }
}
.restaurants-list-section .restaurants-list .restaurant-card h4 {
  padding-top: 5px;
  margin: 0;
}
.restaurants-list-section .restaurants-list .restaurant-card p {
  padding-top: 3px;
  margin: 0;
  font-weight: lighter;
}
.restaurants-list-section .restaurants-list .restaurant-card .restaurant-card-image img {
  height: 150px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 20px 20px;
  border-top-right-radius: 20px 20px;
}
.restaurants-list-section .restaurants-list .restaurant-card .new-restaurant-tag {
  top: 10px;
  right: 10px;
  color: #0d8f6f;
  background-color: #99e2d0;
  border-radius: 5px;
  width: 80px;
  height: 40px;
  position: absolute;
  z-index: 2;
}
.restaurants-list-section .restaurants-list .restaurant-card .new-restaurant-tag span {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.restaurants-list-section .restaurants-list .restaurant-card .restaurant-card-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 20px;
}
.restaurants-list-section .restaurants-list .restaurant-card .card-restaurant-name-and-city {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 2%;
}

footer {
  background-color: #353535;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
}
@media (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
  footer .footer-logo {
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }
}
footer .footer-menu {
  margin-top: 10px;
}
@media (min-width: 768px) {
  footer .footer-menu {
    display: flex;
    justify-content: space-around;
  }
}
footer img {
  filter: invert(100%);
  width: 100px;
}
@media (min-width: 768px) {
  footer img {
    width: 250px;
  }
}
footer .footer-menu-item-with-icon {
  display: flex;
  align-items: baseline;
}
footer .fas {
  padding-right: 5px;
  width: 20px;
}
footer a {
  height: 25px;
}

@keyframes card-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.menu-page-header {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}
.menu-page-header img {
  padding-left: 15%;
  width: 50%;
  padding-bottom: 0;
  object-fit: cover;
}
.menu-page-header .fa-arrow-left {
  padding-left: 20px;
  font-size: x-large;
  color: black;
}

.restaurant-image {
  width: 100%;
  height: 250px;
  bottom: -10px;
  align-items: center;
  position: relative;
}
.restaurant-image img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.restaurant-menu {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding-left: 20px;
  margin-top: -30px;
  background-color: #f6f6f6;
  position: relative;
}
.restaurant-menu h1 {
  font-family: "Shrikhand", cursive;
}
@media (min-width: 992px) {
  .restaurant-menu h1 {
    font-size: 60;
  }
}
.restaurant-menu .fa-heart {
  font-size: xx-large;
}
@media (min-width: 992px) {
  .restaurant-menu .fa-heart {
    font-size: 60;
  }
}
.restaurant-menu h3 {
  font-weight: lighter;
  padding-bottom: 10px;
}
.restaurant-menu h3:after {
  background-color: #99E2D0;
  bottom: -10px;
  height: 3px;
  width: 40px;
  position: relative;
  content: "";
  display: block;
  font-weight: lighter;
}
@media (min-width: 992px) {
  .restaurant-menu h3 {
    font-size: 40;
  }
}
.restaurant-menu .restaurant-menu-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-top: 20px;
  padding-right: 20px;
}
@media (min-width: 992px) {
  .restaurant-menu .restaurant-menu-header {
    justify-content: space-around;
  }
}
@media (min-width: 768px) {
  .restaurant-menu .food-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 10px;
  }
}

.food-item-card {
  width: 90%;
  height: 50px;
  background-color: white;
  border-radius: 20px;
  padding: 15px 10px 0 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1803921569);
  animation-name: card-appear;
  animation-duration: 4000ms;
}
.food-item-card h4 {
  margin: 0;
  font-weight: 800;
  overflow: hidden;
}
.food-item-card p {
  font-weight: lighter;
  margin-top: 7px;
  font-size: small;
}
.food-item-card .food-item-card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}
@media (min-width: 992px) {
  .food-item-card {
    width: 25%;
    height: 80px;
  }
}

.make-order {
  display: flex;
  padding-top: 20px;
  padding-bottom: 70px;
  width: 100%;
  justify-content: center;
}
.make-order .btn-standard {
  width: 180px;
}
@media (min-width: 992px) {
  .make-order .btn-standard {
    width: 300px;
    height: 100px;
    font-size: x-large;
    border-radius: 10px;
  }
}

.btn-standard {
  border-radius: 30px;
  height: 40px;
  color: white;
  border-style: none;
  background: linear-gradient(-7deg, #9356DC 4%, #FF79DA 100%);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1803921569);
}

/*# sourceMappingURL=style.css.map */
