.btn-standard {
    border-radius: 30px;
    height: 40px;
    color: white;
    border-style: none;
    background: linear-gradient(-7deg, $color-primary 4%, $color-tertiary 100%);
    box-shadow: 0 0 20px #0000002e;
}