.btn-standard {
    border-radius: 20px;
    height: 50px;
    padding: 10px;
    color: white;
    border-style: none;
    background: linear-gradient(-7deg, $color-primary 4%, $color-tertiary 100%);
}