
body {
    font-family: 'Roboto', sans-seriF ;
    margin: 0;
}

p {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    &:visited {
        color: white;
    }
}

.fa-heart {
    font-weight:100;
    font-size: x-large;
    transition: all 3s linear;
    &:hover {
        font-weight: bold;
        color: red;
    }
}